{% extends 'layout_boxed.html.twig' %}

{% block content %}
    <h1>Weather Forecast System</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, architecto autem consectetur cupiditate deserunt doloribus exercitationem explicabo ipsum iusto laudantium, molestiae, unde veniam voluptatem voluptatum? Alias et eum maiores?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, architecto autem consectetur cupiditate deserunt doloribus exercitationem explicabo ipsum iusto laudantium, molestiae, unde veniam voluptatem voluptatum? Alias et eum maiores?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, architecto autem consectetur cupiditate deserunt doloribus exercitationem explicabo ipsum iusto laudantium, molestiae, unde veniam voluptatem voluptatum? Alias et eum maiores?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, architecto autem consectetur cupiditate deserunt doloribus exercitationem explicabo ipsum iusto laudantium, molestiae, unde veniam voluptatem voluptatum? Alias et eum maiores?</p>
{% endblock %}

{% block title %} Weather Forecast System {% endblock %}